/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
    --bg: #fffbeb;
    --dbg: #dad7cf;
    --text: black;
    --main: #263159;
    --lmain: #495579;
 }
body {
    background-color: var(--bg);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 18px;
}

p {
    padding: 2px;
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    color: var(--text);
}

.row {
    margin: 0;
    padding: 0;
}

/* #region  SIDE MENU */
.side_menu {
    background-color: var(--main);
    position: fixed;
    padding: 20px;
    width: 250px;
    height: 100%;
    text-align: center;
    color: white;
    /* font-weight: bold; */
    font-size: 22px;
}

.side_menu h2 {
    margin-bottom: 100px;
}

.side_menu::before {
    position: fixed;
    background-color: #303841;
    width: 50px;
    height: 100%;
}

.side_menu .menu {
    text-align: left;
}

.side_menu .button1 {
    width: 100%;
    text-align: left;
    transition: 1s;
}

.side_menu .button1:hover {
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: white
}

.menu a:hover {
    text-decoration: none;
    color: rgb(255, 230, 0);
}

/* #endregion */

.page {
    margin: 0;
    border: 0;
    padding-left: 250px;
}

.content {
    position: static;
    padding: 50px;
    padding-top: 25px;
    height: 100vh;
}

#value {
    color: #F57A00;
    font-weight: bold;
}

/* #region  INDICATORS ---------------------------------------> */

.indicators h1 {
    padding-bottom: 50px;
}

.indicators h2 {
    margin: 0;
}

.indicators .row {
    display: flex;
    justify-content: space-around;
}

.indicators .vendas {
    background-color: green;
    padding: 20px;
    border-radius: 15px;
    color: #F3EFE0;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
}

.indicators .despesas {
    background-color: red;
    padding: 20px;
    border-radius: 15px;
    color: #F3EFE0;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
}

/* #endregion */

/* #region  BUTTON 1 ---------------------------------------> */
.button1 {
    width: 200px;
    padding: 0.75em 0.5em;
    margin: 2px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: var(--main);
    color: #ffffff;
    transition: all 300ms;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    outline: 2px solid var(--main);
}

.button1:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid var(--bg);
    box-shadow: 4px 5px 17px -4px var(--bg);
    z-index: 10;
    margin: 10px 0;
}

.button1::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #F57A00;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 500ms;
}

.button1:hover::before {
    width: 250%;
}

/* #endregion */

/* #region  PRODUCT INDEX ---------------------------------------> */
.products_page {
    /* padding: 50px; */
    margin: 0;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.products_page .header {
    display: flex;
    justify-content: space-between;
}

.products_page .products {
    text-decoration: none;
    color: var(--text);
    width: 100%;
    align-self: center;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.products .product {
    position: relative;
    border: 1px solid var(--main);
    background-color: #F3EFE0;
    width: 400px;
    height: 100%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 40px;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
}

.products .product:hover {
    transform: translateY(-15px);
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, .2);
    outline: 10px solid #F57A00;
}

.products .product p {
    margin: 5px 0;
}

.products .image {
    width: 100%;
    height: 60%;
    display: grid;
    place-content: center;
}

.products .image img {
    width: 240px;
}

.products .namePrice {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.products .namePrice h3 {
    font-size: 2em;
    text-transform: capitalize;
    color: #495579;
}

.products .namePrice p {
    font-size: 1.5em;
    color: #495579;
}

.products .product p {
    font-size: 18px;
    line-height: 25px;
}

/* #endregion */

/* #region  PRODUCT SHOW ---------------------------------------> */

.product_show {
    padding: 50px;
}


/* #endregion */

/* #region  ORDER INDEX ---------------------------------------> */

.orders_index .sale {
    margin: 10px;
    padding: 25px;
    border: 2px solid var(--main);
    /* background-color: var(--lmain); */
    background-color: #9298ac;    ;
    border-radius: 15px;
    width: 100%;
    height: auto;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
}

.sale .pedido{
    display: flex;
    justify-content: space-between;
    color: var(--text);
}

.orders_index .sale p {
    margin-bottom: 5px;
}

.sale .info {
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    background-color: #dad7cf;
}

.sale .info table{
    width: 100%;
}

.info .item{
    border-bottom: 1px solid #303841;
    padding: 5px;
}

/* #endregion */

/* #region ORDER NEW */

/* .order_new div{
    padding: 15px;
    border-radius: 15px;

} */

.order_new h1{
    background-color: #495579;
    color: white;
    padding: 15px;
    border-radius: 15px;
}

.order_new .products{
    background-color: #dad7cf;
    padding: 15px;
    border-radius: 15px;
    margin: 15px 0;
}
.order_new .products #items{
    margin-top: 30px;
}

.order_new #voltar{
    position: absolute;
    right: 65px;
    bottom: 10px;
    
}

.products .nested_fields{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.nested_fields .field select {
    width: 30vw;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}
.nested_fields .field input {
    width: 5vw;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid;
}

.remove a{
    color: red;
    font-weight: bold;
    padding-right: 25px;
}

/* #endregion */