.side_menu
  %h2
    %strong SuperLogo
  .menu
    %button.button1{:onclick => "location.href ='/';"}
      %strong Indicadores
    %button.button1{:onclick => "location.href ='/products';"}
      %strong Produtos
    %button.button1{:onclick => "location.href ='/orders';"}
      %strong Vendas
    %button.button1{:onclick => "location.href ='';"}
      %strong Configurações