<div class="side_menu">

        <h2><strong>SuperLogo</strong></h2>
        <div class="menu">
                <button class="button1" onclick="location.href ='/';">
                        <strong>Indicadores</strong>
                </button>
                <button class="button1" onclick="location.href ='/products';">
                        <strong>Produtos</strong>
                </button>
                <button class="button1" onclick="location.href ='/sales';">
                        <strong>Vendas</strong>
                </button>
                <button class="button1" onclick="location.href ='';">
                        <strong>Configurações</strong>
                </button>
        </div>
</div>